.card {
  height: 248.45px;
  margin: auto 20px 40px;
  width: 200px;
}

.card img {
  border-radius: 10px;
  box-sizing: border-box;
  height: 200px;
  image-rendering: crisp-edges;
  width: 200px;
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.card h3 {
  color: rgba(61, 73, 92, 1);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin: 10px 0;
}

.card p {
  color: rgba(61, 73, 92, 1);
  font-size: 9px;
  line-height: 14px;
}
