* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;;
}

body {
  align-items: center;
  display: flex;
  background-image: url('./images/login-bg.png');
  background-size: cover;
  font-family: "Epilogue" , sans-serif;
  justify-content: center;
}

#root {
  height: 940px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
